li(class="nav-item")
    a(class="nav-link" href="/profile") Profile 
        i(class="fa fa-user-circle")  
li(class="nav-item")
    button(type="button" class="btn btn-outline-primary logoutbtn") Log Out  
        i(class="fa fa-sign-out")  